@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import "tailwindcss";

@theme {
  --color-background: #0d1117;
  --color-foreground: #e6edf3;
  --color-card: #161b22;
  --color-primary: #58a6ff;
  --color-muted: #0d1117;
  --color-muted-foreground: #8b949e;
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-family: "DM Sans", sans-serif;
  }
}